* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* overflow: hidden; */
}

.header {
    width: 100%;
    padding: 35px 140px;
    background-color: #232536;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header a {
    color: white;
    font-size: 24px;
}

.notfound-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.notfound-overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.notfound-overlay h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.notfound-overlay p {
    font-size: 1rem;
    color: #cccccc;
}
